/* styles/globals.css */
/* 默认样式，可能适用于桌面端 */
.nextra-nav-container {
  height: 11rem;
}

.my-custom-banner {
  display: flex;
  position: absolute;
  top: 3.8rem;
  padding: 0 0 5px 0;
  max-width: 90rem;
  color: white;
  text-align: center;
  padding-left: 2%;
}

@media (min-width: 820px) {
  .nextra-nav-container {
    height: 8rem; /* 在这里可以调整为手机端适宜的高度 */
  }
}
@media (min-width: 912px) {
  .nextra-nav-container {
    height: 9rem;
  }
}

@media (min-width: 1024px) {
  .nextra-nav-container {
    height: 9.5rem;
  }
}

@media (min-width: 1280px) {
  .nextra-nav-container {
    height: 11rem;
  }
}

@media (min-width: 1319px) {
  .nextra-nav-container {
    height: 11rem;
  }
}

@media (min-width: 1465px) {
  .nextra-nav-container {
    height: 12rem;
  }
}


/* 媒体查询：针对屏幕宽度小于768px的设备 */
@media (max-width: 768px) {
  .nextra-nav-container {
    height: 5rem; /* 在这里可以调整为手机端适宜的高度 */
  }
}



.my-custom-banner {
  display: flex;
  position: absolute;
  top: 3.8rem;
  padding: 0 0 5px 0;
  max-width: 90rem;
  color: white;
  text-align: center;
  padding-left: 2%;
}

.nx-w-full > p:first-of-type, .nx-w-full > ul:first-of-type {
  margin-top: 0.15rem; /* 可以选择保留这个值或者设置一个新的值 */
}

/* styles/global.css */
img[alt="LangChain中文网"],
img[alt="LangChain AI课程"],
img[alt="LangChain AI 学习社群"] {
  width: 100%;
  margin-bottom: -1.25rem;
}
