/* styles/globals.css */
/* 默认样式，可能适用于桌面端 */
.nextra-nav-container {
  height: 10rem;
}

/* 媒体查询：针对屏幕宽度小于768px的设备 */
@media (max-width: 768px) {
  .nextra-nav-container {
    height: 3.75rem; /* 在这里可以调整为手机端适宜的高度 */
  }
}

.nx-w-full > p:first-of-type, .nx-w-full > ul:first-of-type {
  margin-top: 0.15rem; /* 可以选择保留这个值或者设置一个新的值 */
}

/* styles/global.css */
img[alt="LangChain中文网"],
img[alt="LangChain AI课程"],
img[alt="LangChain AI 学习社群"] {
  width: 100%;
  margin-bottom: -1.25rem;
}
